<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/listener.js"></script>
</head>

<body>
    আমার মজার মামাবাড়ি<br>
ছোটদের কাছে মামারবাড়ি মানে ভীষণ মজার একটা জায়গা। পুজোর ছুটি হোক বা<br>
গরমের ছুটি, মামারবাড়ি মানে একটা আলাদা জগৎ। সেইরকমই আমার কাছে<br>
মামারবাড়িও তাই। আমার দুই মামা এক মাসি। দাদু দিদাও খুব ভালো মানুষ<br>
ছিলেন। বড়মামা আর ছোটমামার মতো আমুদে লোক আর হয় না। দুজনের খুব ভাব।<br>
দুজনেই পেশায় উকিল। আনন্দে ও মজাতে সবাইকে মাতিয়ে রাখেন। বড়মাসি সংসার<br>
সামলান, দুই ভাই কে নিজের ছেলের মত আগলে রাখেন। মামারা এখনও বিয়ে করেনি।<br>
মা বলে আমার মামারা ছেলেবেলাতেও যেমন আমুদে ছিলেন, বড়বেলাতেও তেমনই আছেন।<br>
</html>